
STRIPE_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUBSCRIPTION_PRICE_ID=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

FAUNADB_KEY=

SIGNIN_KEY=

APP_URL=
APP_URL_SUCCESS=

PRISMIC_ENDPOINT=
PRISMIC_ACCESS_TOKEN=